.articleText {
	text-align: left;
	font-size: 18px;
	margin: auto;
	max-width: 80%;
	padding: 0px 0px 50px 0px;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
